/*
전역 스타일: 전체 애플리케이션에 적용되는 기본 스타일
CSS Reset/Normalize: body, html, button 등 기본 HTML 요소들의 스타일 초기화
테마 설정: :root에서 CSS 변수와 전역 색상 설정
기본 폰트, 다크모드 등 앱 전체의 기본적인 디자인 시스템
*/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  /* ————————————————— font families  ————————————————— */
  --font-main: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
  --font-family-secondary: "Inter", system-ui, "Segoe UI", Roboto, Arial;
  --font-family-tertiary: "Manrope", system-ui, "Segoe UI", Roboto, Arial;

  /* ————————————————— font weights ————————————————— */
  --fw-df: 400;
  --fw-md: 500;
  --fw-bold: 700;

  /* ————————————————— base sizes  ————————————————— */
  --fs-h1: 4.25rem;
  --fs-h2: 3.5rem;
  --fs-h3: 2.88rem;
  --fs-h4: 1.75rem;
  --fs-h5: 1.5rem;

  --fs-body1: 1.12rem;
  --fs-body2: 1rem;
  --fs-body3: 0.88rem;

  /* ————————————————— line-height  ————————————————— */
  --lh-default: 1.5;

  /* ———————— semantic typographic tokens ———————— */
  --heading-font-family: var(--font-main);
  --body-font-family: var(--font-main);
  --ui-font-family: var(--font-family-secondary);

  /* ——————————————————— colors  ——————————————————— */

  --deep-blue: #0b3e99;
  --blue: #115bca;
  --red: #ca1111;
  --black: #000000;
  --gray: #a5a5a5;
  --light-gray: #d9d9d9;
  --sub-btn: #f4f4f4;
  --text-input: #fcfcfc;
  --white: #ffffff;
  --visiting: #aa0094;
  --exchange: #00836b;
}

/*
 ——————————————————————————————————————————————————————

 ⭐ CSS Reset - 마진/패딩 초기화 : comment로 달아준 것(1)! ⭐ 
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* ⭐ 폰트 기본 적용 : comment로 달아준 것! (2) ⭐ */
  color: var(--black, #000);
  font-family: "Pretendard Variable";
  font-style: normal;
  line-height: 1.6875rem; /* 150% */

  /* 기본 레이아웃 설정 */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/*
 ———————————————————————————————————————————————————————————————————— 
 */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* —————————————————————————— Headings —————————————————————————— */

.h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

.h2 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

.h3 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  line-height: var(--lh-default);
  margin: 0 0 0.5em 0;
  color: var(--text-primary, var(--color-black));
}

.h4 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h4);
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

.h5 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h5);
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

/* —————————————————————————— Body styles —————————————————————————— */

.body1 {
  font-family: var(--body-font-family);
  font-weight: var(--fw-md);
  font-size: var(--fs-body1);
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

.body2 {
  font-family: var(--body-font-family);
  font-weight: var(--fw-df);
  font-size: var(--fs-body2);
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

.body3 {
  font-family: var(--body-font-family);
  font-weight: var(--fw-df);
  font-size: var(--fs-body3);
  line-height: var(--lh-default);
  color: var(--text-secondary, var(--color-gray));
}

/*
 ———————————————————————————————————————————————————————————————————— 
 */

/* 다크모드: 브라우저 설정 따라 */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  body {
    color: rgba(255, 255, 255, 0.87);
  }
  button {
    background-color: #1a1a1a;
  }
}

/* 라이트모드: 브라우저 설정 따라가ㅏ게 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    color: var(--black, #000);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
